[submodule "OCA/hr"]
	path = OCA/hr
	url = git@github.com:OCA/hr.git
	branch = 10.0

[submodule "onesteinbv/addons-onestein"]
	path = onesteinbv/addons-onestein
	url = git@github.com:onesteinbv/addons-onestein.git
	branch = 10.0

[submodule "hmrodrigues/odoo-apps"]
	path = hmrodrigues/odoo-apps
	url = git@github.com:hmrodrigues/odoo-apps.git
	branch = 10.0

[submodule "OCA/social"]
	path = OCA/social
	url = git@github.com:OCA/social.git
	branch = 10.0
